<div class="welcome-page">
    <h1 class="d-flex align-items-center">
        <img src="~/icon.png" width="38" class="mr-2">
        Welcome to MyCompany
    </h1>

    <p>
        You can find some useful link below:
    </p>

    <ul>
        <li><a href="~/.well-known/openid-configuration">Discovery document</a>, where you can find metadata and links to all the endpoints, key material, etc.</li>
        <li><a href="~/diagnostics">Claims</a>, to see the claims for your current session.</li>
        <li><a href="~/grants">Grants</a>, to manage your stored grants.</li>
    </ul>
</div>